@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body,html{
    color:white;
    background-color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Estilização da descrição do corpo */
#main{
    height: 95%;
    background-image: url(./src/img/netflixescuro.png);
    background-repeat: no-repeat;
}

/*Texto descritivo planos*/
.texto-main {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-corpo{
    display: flex;
    padding-right: 150px;
   
   
}

#img-texto{
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
}

/*Container texto descritivo planos*/
.main-container{
    height: 95%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Imagem descrição planos*/
.img-corpo{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

/*palavra planos com sublinhado*/
strong{
    text-decoration: underline rgb(250, 208, 0);
}

/*CARDS*/
.container-cards{
    display: flex;
    justify-content: space-around;
    
    
}

.card-text{
    color: black;
    text-align: justify;
}


.container-perguntas{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#perguntas{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 15%;
}
.accordion-item{
    width: 65%;
    border: 2px solid black;
    color: black;
}

.link-contato{
    color:#FFD000;
}

.rodape{
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
#contato{
    color: rgb(250, 208, 0);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', cursive;
    text-align: center;
}

/*Alterar a cor da fonte do <a> da navbar*/
#header{
    background-color:#1C1C1C;

}
.cor-fonte{
    color: white!important;
}

 .cor-fonte:hover{
    color: #FFD000!important;
}

.navbar-toggler{
    color: white;
}

/*Altera a cor do sanduiche menu de navegação mobile*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }


   .bg-primary-color{
    background-color: #FFF;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

/*Cards*/

.card-img-top{
    width: 150px;
    height: 150px;
    padding: 10px;
    
}

.card{
    border-radius: 8px;
    overflow: hidden;
}

.card:hover{
    border: 5px solid #FFD000;
    cursor: pointer;
    
}

h5{
    text-align: center;
    color: black;
    text-decoration: underline #FFD000;
}

.escrita-inicial{
    text-align:center;
}

@media only screen and (max-width: 600px) {
    body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    }

    h1{
        font-size: 1.0rem;
        font-weight: bold;
    }

    h4{
        font-size: 1.0rem;
    }

    .p-inicial{
        font-size: 0.9rem;
        padding: 10px;
    }

   #img-texto{
       display: none;
   }

    #header-nav{
        flex-direction: column;
        position: static;
    }
    #header-container{
        flex-direction: column;
    }
    #nav-container{
        flex-direction: column;
    }
    #nav-buttons{
        flex-direction: column;
        width: 80%;
    }

    .main{
        width: 100%;
    }
    .container-cards{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cards{
        width: 100%;
    }
    .main-container{

        flex-direction: column;
        
    }
    .texto-corpo {
        width: 80%;
        text-align: center;
    }
}