@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/netflix-juillet-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Archivo", sans-serif;
}

#header {
  background-color: #1c1c1c;
}
.cor-fonte {
  color: white !important;
}

.cor-fonte:hover {
  color: #ffd000 !important;
}

.navbar-toggler {
  color: white;
}

/*Altera a cor do sanduiche menu de navegação mobile*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8ea;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #1c1c1cd5;
  color: white;
  width: 30%;
  padding: 3%;
  border-radius: 1%;
}

#img-prc {
  display: flex;
  justify-content: center;
}

form img {
  width: 140px;
  height: 140px;
}

form label,
input {
  align-items: left;
  border-radius: 4px;
}

.log {
  display: flex;
  text-align: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  color: white;
  text-align: center;
  background-color: #1c1c1c;
}
