@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/netflix-juillet-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Archivo", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.808);
  padding: 2%;
  height: auto;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  width: 45%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.726);
  display: flex;
  flex-direction: column;
  padding: 2%;
  color: white;
  border-radius: 1%;
}

form input {
  border-radius: 4px;
}

form label {
  padding: 2px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  background-color: black;
}
